In [2]:
import pandas as pd
import numpy as np
import re
import os
import glob
import matplotlib.pyplot as plt

In [3]:
overBallDetails_df = pd.read_csv('E:\EDA\ICC Cricket World Cup\overBallDetails.csv')
overBallDetails_df

,id,countingBall,nonCountingBall,score,bowlerId,facingBatsmanId,boundary,overHistoryId
0,1,1,1,1,5591.0,1220.0,False,84666
1,2,2,2,.,5591.0,1601.0,False,84666
2,3,3,3,.,5591.0,1601.0,False,84666
3,4,4,4,1Wd,5591.0,1601.0,False,84666
4,5,4,5,.,5591.0,1601.0,False,84666
...,...,...,...,...,...,...,...,...
157318,157319,5,5,.,1894.0,857.0,False,110410
157319,157320,6,6,.,1894.0,857.0,False,110410
157320,157321,1,1,4,4567.0,17118.0,True,110411
157321,157322,2,2,.,4567.0,17118.0,False,110411
157322,157323,3,3,W,4567.0,17118.0,False,110411

In [4]:
overBallDetails_df.isnull().sum()

id                   0
countingBall         0
nonCountingBall      0
score                0
bowlerId           101
facingBatsmanId      3
boundary             0
overHistoryId        0
dtype: int64

In [5]:
# Forward fill null values in 'bowlerId' and 'facingBatsmanId'
overBallDetails_df['bowlerId'].fillna(method='ffill', inplace=True)
overBallDetails_df['facingBatsmanId'].fillna(method='ffill', inplace=True)

In [6]:
# Replace '.' with '0' in the 'score' column. There are many cells in score column with '.' as value.
overBallDetails_df['score'] = overBallDetails_df['score'].replace('.', '0')

We will change the dtypes of bowlerId and facingBatsmanId to int.

In [7]:
# Convert 'bowlerId' column to int (if there are no NaNs)
overBallDetails_df['bowlerId'] = overBallDetails_df['bowlerId'].astype(int)

# Convert 'facingBatsmanId' column to int (if there are no NaNs)
overBallDetails_df['facingBatsmanId'] = overBallDetails_df['facingBatsmanId'].astype(int)

In [8]:
# Remove duplicate rows based on all columns
overBallDetails_df.drop_duplicates(inplace=True)

In [9]:
overBallDetails_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157323 entries, 0 to 157322
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               157323 non-null  int64
 1   countingBall     157323 non-null  int64
 2   nonCountingBall  157323 non-null  int64
 3   score            157323 non-null  object
 4   bowlerId         157323 non-null  int32
 5   facingBatsmanId  157323 non-null  int32
 6   boundary         157323 non-null  bool
 7   overHistoryId    157323 non-null  int64
dtypes: bool(1), int32(2), int64(4), object(1)
memory usage: 7.4+ MB

Lets save the cleaned overBallDetails_df in a specific folder.

In [10]:
# Define the file path where you want to save the CSV files
folder_path = r'E:\EDA\ICC Cricket World Cup\cleanedFiles'

# Save the DataFrame as a CSV file in the specified folder
overBallDetails_df.to_csv(folder_path + '\\overBallDetails.csv', index=False)