In [3]:
import pandas as pd
import numpy as np
import re
import os
import glob
import matplotlib.pyplot as plt

In [4]:
players_df = pd.read_csv('E:\EDA\ICC Cricket World Cup\players.csv')
players_df.head(5)

,id,fullName,shortName,nationality,dateOfBirth,rightArmedBowl,rightHandedBat,bowlingStyle,teamId
0,2065,Rick McCosker,RB McCosker,Australian,1946-12-11,False,True,NaN,2808
1,2114,Alan Turner,A Turner,Australian,1950-07-23,False,True,NaN,2808
2,2083,Greg Chappell,G Chappell,Australian,1948-08-07,True,True,MEDIUM_SEAM,2808
3,2115,Jeff Thomson,J Thomson,Australian,1950-08-16,True,True,FAST_SEAM,2808
4,2020,Ian Chappell,I Chappell,Australian,1943-09-26,True,True,LEG_SPIN,2808

In [5]:
players_df.isnull().sum()

id                    0
fullName              0
shortName             0
nationality         662
dateOfBirth         562
rightArmedBowl        0
rightHandedBat        0
bowlingStyle      10583
teamId                0
dtype: int64

In [6]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28911 entries, 0 to 28910
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              28911 non-null  int64
 1   fullName        28911 non-null  object
 2   shortName       28911 non-null  object
 3   nationality     28249 non-null  object
 4   dateOfBirth     28349 non-null  object
 5   rightArmedBowl  28911 non-null  bool
 6   rightHandedBat  28911 non-null  bool
 7   bowlingStyle    18328 non-null  object
 8   teamId          28911 non-null  int64
dtypes: bool(2), int64(2), object(5)
memory usage: 1.6+ MB

We will delete the dateOfBirth column as it has many missing values and also we wont be needing it for further anlysis

In [7]:
players_df.drop(columns=['dateOfBirth'], inplace=True)

In [8]:
players_df.isnull().sum()

id                    0
fullName              0
shortName             0
nationality         662
rightArmedBowl        0
rightHandedBat        0
bowlingStyle      10583
teamId                0
dtype: int64

In [9]:
# Remove duplicates from the players_df
players_df.drop_duplicates(inplace=True)

In [10]:
# Forward fill missing values in 'nationality' and 'bowlingStyle' columns
players_df['nationality'].fillna(method='ffill', inplace=True)
players_df['bowlingStyle'].fillna(method='ffill', inplace=True)
players_df['bowlingStyle'].fillna(method='bfill', inplace=True)

In [11]:
players_df.isnull().sum()

id                0
fullName          0
shortName         0
nationality       0
rightArmedBowl    0
rightHandedBat    0
bowlingStyle      0
teamId            0
dtype: int64

In [12]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28911 entries, 0 to 28910
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              28911 non-null  int64
 1   fullName        28911 non-null  object
 2   shortName       28911 non-null  object
 3   nationality     28911 non-null  object
 4   rightArmedBowl  28911 non-null  bool
 5   rightHandedBat  28911 non-null  bool
 6   bowlingStyle    28911 non-null  object
 7   teamId          28911 non-null  int64
dtypes: bool(2), int64(2), object(4)
memory usage: 1.4+ MB

Lets save the cleaned players_df in a specific folder.

In [13]:
# Define the file path where you want to save the CSV files
folder_path = r'E:\EDA\ICC Cricket World Cup\cleanedFiles'

# Save the DataFrame as a CSV file in the specified folder
players_df.to_csv(folder_path + '\\players.csv', index=False)