In [1]:
import pandas as pd
import numpy as np
import re
import os
import glob
import matplotlib.pyplot as plt

In [3]:
teams_df = pd.read_csv(r'E:\EDA\ICC Cricket World Cup\teams.csv')
teams_df.head(5)

   id fullName shortName abbreviation  wicketKeeperId  captainId
0  11  England   England          ENG          2050.0     1988.0
1  11  England   England          ENG          1996.0     2004.0
2  11  England   England          ENG          2229.0     2096.0
3  11  England   England          ENG          2222.0     2226.0
4  11  England   England          ENG          2330.0     2169.0

In [4]:
teams_df.isnull().sum()

id                0
fullName          0
shortName         0
abbreviation      0
wicketKeeperId    7
captainId         6
dtype: int64

Lets fill the missing values of wicketKeeperId and captainId with backward fill. its make sense as i checked the dataset and filling it with backward fill will correctly fill the these missing values.

In [6]:
# Fill missing values in 'wicketKeeperId' and 'captainId' columns with backward fill
teams_df['wicketKeeperId'].fillna(method='bfill', inplace=True)
teams_df['captainId'].fillna(method='bfill', inplace=True)

In [7]:
teams_df.isnull().sum()

id                0
fullName          0
shortName         0
abbreviation      0
wicketKeeperId    1
captainId         1
dtype: int64

There's still one values missing in each. so lets it with forward fill

In [8]:
teams_df['wicketKeeperId'].fillna(method='ffill', inplace=True)
teams_df['captainId'].fillna(method='ffill', inplace=True)

In [9]:
teams_df.isnull().sum()

id                0
fullName          0
shortName         0
abbreviation      0
wicketKeeperId    0
captainId         0
dtype: int64

In [10]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              354 non-null    int64
 1   fullName        354 non-null    object
 2   shortName       354 non-null    object
 3   abbreviation    354 non-null    object
 4   wicketKeeperId  354 non-null    float64
 5   captainId       354 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 16.7+ KB

In [13]:
# Convert 'wicketKeeperId' and 'captainId' columns from float to integer
teams_df['wicketKeeperId'] = teams_df['wicketKeeperId'].astype('Int64')
teams_df['captainId'] = teams_df['captainId'].astype('Int64')

In [14]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              354 non-null    int64
 1   fullName        354 non-null    object
 2   shortName       354 non-null    object
 3   abbreviation    354 non-null    object
 4   wicketKeeperId  354 non-null    Int64
 5   captainId       354 non-null    Int64
dtypes: Int64(2), int64(1), object(3)
memory usage: 17.4+ KB

Lets save the cleaned teams_df in a specific folder.

In [15]:
# Define the file path where you want to save the CSV files
folder_path = r'E:\EDA\ICC Cricket World Cup\cleanedFiles'

# Save the DataFrame as a CSV file in the specified folder
teams_df.to_csv(folder_path + '\\teams.csv', index=False)