In [1]:
import pandas as pd
import numpy as np
import re
import os
import glob
import matplotlib.pyplot as plt

In [2]:
venues_df = pd.read_csv(r'E:\EDA\ICC Cricket World Cup\venues.csv')
venues_df.head(5)

   id                   fullName               shortName       city country
0   1  M. A. Chidambaram Stadium             Chidambaram    Chennai   India
1   2               Eden Gardens            Eden Gardens    Kolkata   India
2   3     Sawai Mansingh Stadium  Sawai Mansingh Stadium     Jaipur   India
3   4           Wankhede Stadium        Wankhede Stadium     Mumbai   India
4   5     M. Chinnaswamy Stadium  M. Chinnaswamy Stadium  Bengaluru   India

In [3]:
venues_df.isnull().sum()

id            0
fullName      0
shortName    20
city          8
country      20
dtype: int64

The shortName column has missing values. We will drop that since we aleardy had the fullName of stadiums.

In [4]:
# Dropping the 'shortName' column from the 'venues_df'
venues_df.drop(columns='shortName', inplace=True)

In [5]:
venues_df.isnull().sum()

id           0
fullName     0
city         8
country     20
dtype: int64

In [6]:
# Drop rows with missing values in the 'city' column
venues_df.dropna(subset=['city'], inplace=True)

In [7]:
venues_df.isnull().sum()

id           0
fullName     0
city         0
country     12
dtype: int64

In [9]:
# Filter rows where 'country' values are missing
missing_country = venues_df[venues_df['country'].isnull()]

# Display the rows where 'country' values are missing
print(missing_country[['id', 'fullName', 'city', 'country']])

         id                                         fullName           city  \
175  100008                                    County Ground     Chelmsford
176  100009                                      The Village       Malahide
177  100013                              R.Premadasa Stadium     Khettarama
178  100014                              Grange Cricket Club  Raeburn Place
179  100016                                    Moosa Stadium       Pearland
180  100018                                          Titwood        Glasgow
181  100019                            New Cambusdoon Ground            Ayr
184  100112               Rajiv Gandhi International Stadium          Uppal
185  100113                        Barsapara Cricket Stadium       Guwahati
186  100144             Sylhet International Cricket Stadium         Sylhet
189  100178                            YS Raja Reddy Stadium         Kadapa
191  100194  Mahinda Rajapaksa International Cricket Stadium    Sooriyawewa

    country
175     NaN
176     NaN
177     NaN
178     NaN
179     NaN
180     NaN
181     NaN
184     NaN
185     NaN
186     NaN
189     NaN
191     NaN

In [10]:
def get_country_from_city(city_name):
    # Function to extract country name based on the City column
    if city_name == 'Chelmsford':
        return 'England'
    elif city_name == 'Malahide':
        return 'Ireland'
    elif city_name == 'Khettarama':
        return 'Sri Lanka'
    elif city_name == 'Raeburn Place':
        return 'England'
    elif city_name == 'Pearland':
        return 'USA'
    elif city_name == 'Glasgow':
        return 'Scotland'
    elif city_name == 'Ayr':
        return 'Scotland'
    elif city_name == 'Uppal':
        return 'India'
    elif city_name == 'Guwahati':
        return 'India'
    elif city_name == 'Sylhet':
        return 'India'
    elif city_name == 'Kadapa':
        return 'India'
    elif city_name == 'Sooriyawewa':
        return 'Sri Lanka'

# Fill missing 'country' values based on 'city'
for index, row in venues_df.iterrows():
    if pd.isnull(row['country']):  # Check for missing 'country' values
        city = row['city']
        country_info = get_country_from_city(city)
        venues_df.at[index, 'country'] = country_info

In [11]:
venues_df.isnull().sum()

id          0
fullName    0
city        0
country     0
dtype: int64

In [12]:
venues_df.head()

   id                   fullName       city country
0   1  M. A. Chidambaram Stadium    Chennai   India
1   2               Eden Gardens    Kolkata   India
2   3     Sawai Mansingh Stadium     Jaipur   India
3   4           Wankhede Stadium     Mumbai   India
4   5     M. Chinnaswamy Stadium  Bengaluru   India

In [13]:
venues_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185 entries, 0 to 191
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        185 non-null    int64
 1   fullName  185 non-null    object
 2   city      185 non-null    object
 3   country   185 non-null    object
dtypes: int64(1), object(3)
memory usage: 11.3+ KB

Lets save the cleaned vanues_df in a specific folder.

In [14]:
# Define the file path where you want to save the CSV files
folder_path = r'E:\EDA\ICC Cricket World Cup\cleanedFiles'

# Save the DataFrame as a CSV file in the specified folder
venues_df.to_csv(folder_path + '\\venues.csv', index=False)